* {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: antiquewhite;
}

header {
    color: azure;
    background-color: rgb(20, 20, 20);
}

.Nav {
    font-family: verdana, sans-serif;
    font-size: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;

}

.Nav h1 {
    font-size: 3em;
}

.Nav li {
    float: right;
}

.Nav li a {
    
    display: inline;
    color: azure;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}


.Portfolio {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    
}
.about-section{
    display: flex;
    text-align: left;
    
}

.About {
    border-left: 10px solid black;
}

#About {
    margin-left: 10%;
}

.work-section {
    display: flex;
}

.Work {
    border-left: 10px solid black;
    margin-left: 10px;
}

#Work{
    margin-left: 10%;
}

.contact-section {
    display:flex;
}

.Contact {
    border-left: 10px solid black;
    margin:15%;
}
@media only screen and (max-width:1000px) {

}

@media only screen and (min-width: 1000px) {
    
}